<html>
<head>
    <title>To-Do lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/base.css" rel="stylesheet" media="screen">
</head>


<body>
<div class="container">
    <div class="col-md-6 col-md-offset-3 jumbotron">
        <div class="text-center">
            <h1>{% block header_text %}{% endblock %}</h1>
            <form method="POST" action="{% block form_action %}{% endblock %}">
                {% csrf_token %}
{#                <input name="text" id="id_text" class="form-control input-lg" placeholder="Enter a to-do item"/>#}
                {{ form.text }}
                {% if form.errors %}
                    <div class="form-group has-error">
                        <span class="help-block">{{ form.text.errors }}</span>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% block table %}
            {% endblock %}
        </div>
    </div>
</div>
<!-- 习惯于在 HTML body 末尾引入 script， 这样不必等到 script 加载完才显示内容，而且保证加载了大部分 DOM -->

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/static/list.js"></script>
</body>
</html>