[Unit]
Description=Gunicorn server for superlists
[Service]
Restart=on-failure
WorkingDirectory=/home/chao/sites/superlists/source
User=chao
ExecStart=/home/chao/sites/superlists/virtualenv/bin/gunicorn --bind \
unix:/tmp/superlists.socket \
--capture-output \
--access-logfile ../access.log \
--error-logfile ../error.log \
superlists.wsgi:application

[Install]
WantedBy=multi-user.target

